# environnement virtuel
venv/

# python cache
__pycache__/
*.pyc

# variables d'environnement
.env

# fichiers système
.DS_Store

# Données volumineuses
donnees.csv
app/static/data/data_js.json

# Node modules
node_modules/